/* General Styles */
:root {
    --body-bg: #424242; /* Background for body */
    --font-family: 'Montserrat', sans-serif; /* Font for entire site */
    --primary-color: #f0f0f0; /* Text color for icons */
    --secondary-color: #f8f9fa; /* Button outline color */
    --notepad-bg: #343a40; /* Notepad Background */
    --notepad-hover-bg: #3a3a3a; /* Notepad Hover Background */
    --notepad-text: #ffffff; /* Notepad Text Color */
    --taskbar-bg: #2c3e50; /* Taskbar background */
    --start-menu-bg: #34495e; /* Start menu background */
    --start-button-gradient: linear-gradient(135deg, #3498db, #8e44ad); /* Gradient for start button */
    --start-button-hover-gradient: linear-gradient(135deg, #2980b9, #9b59b6); /* Start button hover gradient */
    --modal-bg: rgba(0, 0, 0, 0.35); /* Modal background */
    --button-hover-glow: rgba(0, 0, 0, 0.3); /* Button hover glow */
    --btn-border-color: #f8f9fa; /* Button border color */
    --btn-hover-bg: #f8f9fa; /* Button hover background */
    --file-item-text-color: #ddd; /* File item text color */
    --terminal-bg: #1e1e1e; /* Terminal background */
    --terminal-text: #00ff00; /* Terminal text color */
    --terminal-header-bg: #333; /* Terminal header background */
    --terminal-input-bg: #1e1e1e; /* Terminal input background */
    --terminal-placeholder: #555; /* Placeholder text color */
    --terminal-border: #444; /* Border color */
    --terminal-scrollbar-thumb: #444; /* Scrollbar thumb color */
    --terminal-scrollbar-thumb-hover: #555; /* Scrollbar thumb hover color */
}

/* General Styles */
body.bg-grey {
    background-color: var(--body-bg);
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: relative;
    font-family: var(--font-family);
}

/* Parent container */
.desktop-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


/* Desktop Icons */
.icons {
    position: absolute;
    top: 50px;
    left: 20px;
}

.icon-item {
    margin-bottom: 30px;
    color: var(--primary-color);
    font-size: 14px;
}

.desktop-icon {
    width: 64px;
    height: 64px;
    margin-bottom: 5px;
    transition: transform 0.2s ease-in-out;
}

.desktop-icon:hover {
    transform: scale(1.1);
}

/* Taskbar Styles */
.taskbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: var(--taskbar-bg);
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px -2px 15px rgba(0, 0, 0, 0.5);
}

.taskbar:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    background-color: var(--taskbar-bg);
}

/* Start Menu Styles */
.start-menu {
    position: absolute;
    bottom: 60px;
    left: 10px;
    width: 250px;
    background-color: var(--start-menu-bg);
    color: var(--primary-color);
    border-radius: 10px;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 1000;
    padding: 15px 0;
    list-style: none;
    animation: slideIn 0.5s ease-in-out;
}

.start-menu ul {
    margin: 0;
    padding: 0;
}

.start-menu li {
    padding: 15px 20px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 15px;
    transition: background-color 0.3s, padding-left 0.3s;
    border-radius: 8px;
}

.start-menu li:hover {
    background-color: var(--taskbar-bg);
    padding-left: 30px;
}

.start-menu li:hover i {
    transform: scale(1.1);
    color: #f39c12;
}

.start-menu li i {
    font-size: 18px;
}

/* Add a slide-in effect for the menu */
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Hide the start menu when clicked outside */
.start-menu.open {
    display: block;
}

/* Start Button Styles */
.start-button {
    width: 120px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--start-button-gradient);
    color: var(--primary-color);
    font-size: 14px;
    font-weight: bold;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
}

.start-button:hover {
    background: var(--start-button-hover-gradient);
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0, 0.3);
}

.start-button:active {
    background: var(--start-button-hover-gradient);
    transform: scale(1);
}

.start-button .start-icon {
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 50%;
    margin-right: 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

/* Terminal Container */
.fake-terminal {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background-color: var(--terminal-bg);
    color: var(--terminal-text);
    border-radius: 10px;
    width: 500px; /* Increased width */
    height: 300px; /* Increased height */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

/* Terminal Body */
.terminal-body {
    padding: 15px;
    height: 230px; /* Increased height of terminal body */
    overflow-y: auto;
}

/* Terminal Header */
.terminal-header {
    background-color: var(--terminal-header-bg);
    color: #fff;
    padding: 15px;
    font-weight: bold;
    font-size: 16px; /* Increased font size */
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


/* Terminal Prompt */
.terminal-prompt {
    display: inline-block;
    color: #8a8a8a;
    font-weight: bold;
    margin-right: 10px;
}

/* Terminal Input */
.terminal-input {
    background-color: var(--terminal-input-bg);
    border: none;
    color: var(--terminal-text);
    outline: none;
    width: 100%;
    padding: 8px;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5px;
}

/* Terminal Output */
.terminal-output {
    color: var(--terminal-text);
    font-size: 16px;
    margin-bottom: 5px;
}

/* Terminal Command Echoed */
.terminal-command {
    color: #f1fa8c;
    font-weight: normal;
}

/* Placeholder text */
.terminal-input::placeholder {
    color: var(--terminal-placeholder);
}

/* Scrolling Behavior */
.terminal-body::-webkit-scrollbar {
    width: 8px;
    background-color: var(--terminal-bg);
}

.terminal-body::-webkit-scrollbar-thumb {
    background-color: var(--terminal-scrollbar-thumb);
    border-radius: 4px;
}

.terminal-body::-webkit-scrollbar-thumb:hover {
    background-color: var(--terminal-scrollbar-thumb-hover);
}

/* Responsive Design for smaller screens */
@media (max-width: 768px) {
    .fake-terminal {
        max-width: 95%;
    }
}


/* Modal Content */
.modal-content {
    background: var(--modal-bg);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    box-shadow: 0 8px 50px rgba(0, 0, 0, 0.6);
    color: #fff;
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
}

/* File Item Styling */
.col-md-3 {
    text-align: center;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.small {
    margin-top: 8px;
    color: var(--file-item-text-color);
    font-size: 14px;
}

/* Notepad Item Styling */
.notepad-item {
    background-color: var(--notepad-bg);
    color: var(--notepad-text);
    border: 1px solid var(--notepad-bg);
}

.notepad-item:hover {
    background-color: var(--notepad-hover-bg);
    cursor: pointer;
}

/* Button Styling */
.btn-outline-light {
    border-color: var(--btn-border-color);
    color: var(--btn-border-color);
}

.btn-outline-light:hover {
    background-color: var(--btn-hover-bg);
    color: var(--notepad-bg);
}

/* Custom class for maximizing modals */
.modal-lg-custom {
    max-width: 100% !important;  /* Full width */
    width: 100% !important;      /* Ensure it takes full width */
    height: 100% !important;     /* Full height */
    margin: 0;                   /* Remove margin */
    top: 0;                      /* Align to the top of the screen */
    left: 0;                     /* Align to the left of the screen */
    right: 0;                    /* Align to the right */
    bottom: 0;                   /* Align to the bottom */
    border-radius: 0 !important; /* Remove rounded corners */
}


/* Window Controls Container */
.window-controls {
    display: flex;
    gap: 12px; /* Increased space between buttons */
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Base Style for Buttons */
.window-btn {
    width: 22px; /* Increased size */
    height: 22px; /* Increased size */
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

/* Red Close Button */
.window-close {
    background-color: #ff3b30;
    color: rgb(0, 0, 0);
}

.window-close:hover {
    background-color: #d7321f;
}

.window-close:active {
    transform: scale(0.9);
}

/* Yellow Minimize Button */
.window-minimize {
    background-color: #ffcc00;
    color: rgb(0, 0, 0);
}

.window-minimize:hover {
    background-color: #e6b800;
}

.window-minimize:active {
    transform: scale(0.9);
}

/* Green Maximize Button */
.window-maximize {
    background-color: #4cd964;
    color: rgb(0, 0, 0);
}

.window-maximize:hover {
    background-color: #43b356;
}

.window-maximize:active {
    transform: scale(0.9);
}

/* Icon Styles */
.window-btn i {
    font-size: 14px; /* Increased size for visibility */
}

/* Optional: Adding some spacing between buttons */
.window-controls button + button {
    margin-left: 5px;
}

/* Adding some additional hover effects for the macOS style */
.window-btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
}


.hover-underline {
    position: relative;
    color: inherit;
    text-decoration: none;
  }
  
  .hover-underline::after,
  .hover-underline::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #ff0000, #00ffff);
    left: 0;
    transform: scaleX(0);
    transition: transform 0.4s ease-out;
  }
  
  .hover-underline::after {
    bottom: -2px;
    transform-origin: right;
  }
  
  .hover-underline::before {
    top: -2px;
    transform-origin: left;
  }
  
  .hover-underline:hover::after,
  .hover-underline:hover::before {
    transform: scaleX(1);
  }
  